@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?c403ed');
  src:  url('../fonts/icomoon.eot?c403ed#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?c403ed') format('truetype'),
    url('../fonts/icomoon.woff?c403ed') format('woff'),
    url('../fonts/icomoon.svg?c403ed#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

.icon-mail::before {
  content: "\e900";
}
.icon-phone::before {
  content: "\e942";
}
.icon-menu::before {
  content: "\e9bd";
}
.icon-cancel::before {
  content: "\ea0d";
}


/**{
	width: tamano;
	height: tamano;
	padding: 10px;
	border: 2px solid red;
	margin: 10px;
}*/
body{
	font-family: 'Allerta',sans-serif;
	margin: 0;
	/* stikyfooter*/
	display: flex;
	min-height: 100vh;/*para que el body sea el 100% del viuport(sin importar el contenido) */
	flex-wrap: wrap; 
}

.button{ 
	border-radius: 12px;
	border: none;
	background: #fd324e;
	color: white;
	padding: 7px 12px;
	cursor: pointer;
	font-size: 18px;
	background: linear-gradient(to left, #fe344e, #ff7250);
	text-decoration: none;
 }

.titulo {
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
	margin-bottom: 0;
	margin-top: 70px;
}

.titulo span{
	text-decoration: underline;
}

.title-a{
	font-size: 24px;
	margin-top:  0;
}

.title-b{
	font-size: 50px;
	margin-bottom: 20px
}

.guitarras{
	color: #1F313C;
}

.guitarras h2{ 
	font-family: 'Montserrat', sans-serif;
	font-size: 35px
 }

.portada{
	background-image: url(../images/background.png);
	background-size: cover;
	background-color: #334d5e;
	color: white;
	padding: 20px;	
	height: 500px;
	width: 100%;
}
.portadaprecios{
	height: 350px;
}

.portada button{
	margin-bottom: 70px;
}

.menu{
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;
}

.menu li {
	display: inline-block;
	margin-left: 30px;
}

.menu li::before{
	content: '∘';
	font-size: 30px;
	line-height: 20px;
	color: white;
	}

.menu a{
	color: white;
	text-decoration: none;
}
/*.menuprecios a{
color: #273b47;
}*/

.logotipo{
	display: inline-block;
	margin-left: 0;
}

.guitarra{
	margin: 10px;
	padding: 10px;
	/*overflow: hidden;*/
	border: 1px solid #1F313C;
	border-radius: 8px;
}

.guitarra ol{
	padding: 0;
}

.guitarra.b{
	height: 190px;
}
.contenedor{
	width: 800px;
	margin: 10px auto;
	max-width: 800px;
}

.derecha {
	float: right;
	position: relative;
	top: -124px;
}

.izquierda{
	float: left;
	position: relative;
	/* top: 80px; */
}

.contenedor-guitarra-a{
	padding-left: 20px;
}

.contenedor-guitarra-b{
	margin-left: 370px; 
	position: relative;
	bottom: 90px;
}

.header{
	position: relative;
}

.contacto{
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items: center;
	padding-bottom: 40px;
}

.contacto img {
	display: block;
}

.contacto strong {
	display: block;
}

.contacto a {
	color: white;
	text-decoration: none;
	margin: 10px 10px 10px 0;
} 
.footer{
	background: #273b47;
	align-self: flex-end; /*para que vaya al final del flex*/
	width: 100%;

}

.footer .contenedor{
	display: flex;
	justify-content: space-between;
}

.formulario{
	display: flex;
	width: 465px;
	color: white;
	padding: 50px 10px;
}

.col1, .col2{
	display: flex;
	flex-direction: column;
}

.col1{
	margin-right: 15px;
}

.col2{
	align-items: flex-start;
}

.intereses label {
	font-size: 12px;
}
.sexo label{
	font-size: 18px;
}

.formulario label, .sexo, .intereses {
	margin-bottom: 10px;
}

.sexo{
	margin-top: 10px;
}

/*table{
	width: 100%; 
	margin-top: 50px;
	margin-bottom: 50px;
}*/

th {
	background: #273b47;
	color: white;
	padding: 10px;
	text-align: left;
}

td {
	padding: 20px;
}

table, td, th{
	border: 1px solid #273b47;
	border-collapse: collapse;
}
.burguer-button{
	width: 40px;
	border-radius: 40%;
	line-height: 40px;
	height: 40px;
	background: #334d5e;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	position: fixed;
	left: 20px;
	top: 20px;
	z-index: 3;
	display: none;
}


@media screen and (max-width: 800px) {
	/*precios*/
	.tabla{
		margin: 50px 20px;
	}
	.tabla .contenedor{
		overflow: auto;
		border: 1px solid #273b47;
	}
	/*precios*/

/* portada */
	body{
		display: block;
	}
	.menu{
		font-size: 21px;
	}
	.menu li{
		margin-left: 10px;
		margin-top:30px;
	}
	.titulo{
		font-size: 45px;
		margin-top: 10px;
	}
	.title-a{
		font-size: 18px;
	}
	.portada{
		height: auto;
		width: auto;
	}
	.portada .buttom {
		margin-bottom: 30px;
		display: inline-block;
	}
	.contenedor{
		width: auto;
	}
/* portada */


/*guitarras*/
.guitarras{
	text-align: center;
}

.izquierda, .derecha{
	float: none;
	position: static;
}
.title-b{
	margin: 0;
}
.guitarra li{
	list-style: none;
}
.guitarra.b{
	height: auto;
}
.contenedor-guitarra-b {
	position: static;
	margin: 0;
}
.contenedor-guitarra-a {
	padding: 0;
}

/*guitarras*/

}
@media screen and (max-width: 767px){
	/*footer*/
	.footer .contenedor {
		display: block;
	}
	.contacto{
		margin: 0 auto;
	}
	.formulario{
		display: block;
		margin: 0 auto;
		width: 300px;
		padding: 10px;
	}

	.intereses label{
		display: block;
		font-size: 16px;
	}

	.col1{
		margin: 0;
	}

	imput[type="text"], imput[type="email"] {
		font-size: 16px;
		padding: 5px;
	}
	textarea{
		width: 100%;
	}

	imput[type="radio"], imput[type="checkbox"] {
	zoom: 1.5;
	}
	/*footer*/
}

@media screen and (max-width: 650px) {
	.header {
		text-align: center;
	}

	.logotipo {
		margin: 0;
	}

	.menu {
		position: static;
		display: block;		
	}

	.menu li:first-child {
		margin: 0;
	}

	.menu ul {
		padding: 0;
	}

}
@media screen and (max-width: 500px){
	/*portada*/
	.portada .button{
		display: block;
	}
	.precios .header .logotipo{
		margin: 50px 0;
	}
	.portada .contenedor{
		position: static;
	}
	.header {
		position: static;
	}
	.header .contenedor{
		position: static;
	}
	.burguer-button{
		display: block;
	}
	.menu{
		background: rgba(255, 60, 88, .8);
		position: fixed;
		left: -100%;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 2;
		display: flex;
		width: 100%;
		align-items: center;
		transition: .3s;
	}
	.menu.active{
		left: 0;
	}
	.menu ul{
		flex: 1;
	}
	.menu li {
		display: block;
		margin: 0;
		padding: 8px 0;
		border-bottom: 1px solid white;
	}

	.menu li::before {
		display: none;
	}

	.menu li:first-child {
		border-top: 1px solid white;
	}

	.portada {
		text-align: center;
	}
	.titulo{
		font-size: 30px;
	}
	.title-a {
		font-size: 16px;
	}
	/*portada*/

	/*guitrras*/

	.guitarra img {
		width: 200px;
	}
	.title-b {
		font-size: 30px;
	}

	/*guitrras*/

	/*footer*/
	/*.col2 .button {
		display: block;
		align-items: stretch;
	}*/
	
	/*footer*/
}